* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  width: 100%;
  background-color: grey;
  position: fixed;
}

.redondo {
  display: block;
  position: absolute;
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.botaoDesfazer {
  display: flex;
}
